.drawer-container {
  background-color: green;
  width: 240px;
  flex-shrink: 0;
  white-space: nowrap;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: 0.3s ease;
  position: fixed;
  top: 50%;
  transform: translateY(-50%); 
  border-radius: 8px;
  height: 50%;
  

  &.closed {
    width: 50px;
  }

  &.opened {
    border-radius: 20px;
  }
}



