.drawer-list-item {
  margin-top: 20px;

  &-button {
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;

    & > svg {
      width: 24px;
      height: 24px;
    }
  }
}