.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.value-card-container,
.custom-card-container {
  display: flex;
  justify-content: space-evenly;
  min-height: 160px;
  margin: 20px 0;
}

.custom-card-container{
  gap: 20px;
}

.chart-card-container {
  display: flex;
}

.chart-assets-wrapper {
  display: flex;
  justify-content: space-evenly;
}
